@page { header: page-header ; margin-top:90px; margin-left:10px;margin-right:10px;margin-bottom:1px; }

#inside {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent;
    margin:10px;
}

    .table {
    border-color: white !important;
    }

    .table > tbody > tr > td,
    .table > tfoot > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > th {
    padding: 5px 6px;
    border-top: 1px solid #e7e8ea;
    }

    .table > thead > tr > th {
    padding: 5px 6px;
    border-bottom: 1px solid #e7e8ea;
    }

    .table-bordered {
    border-color: #e7e8ea;
    }

    .table-bordered > tbody > tr > td,
    .table-bordered > tbody > tr > th {
    border-color: #e7e8ea;
    }

    .table-bordered > thead > tr > th {
    border-color: #e7e8ea;
    }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f7;
    }

    .table-striped > thead > th {
    background-color: #f6f6f7;
    border-right: 1px solid #e7e8ea;
    }

    .table-striped > thead > th:last-child {
    border-right: none;
    }

    [md-ink-ripple] {
    position: relative;
    }

tfoot tr td {
    font-weight : bold;
    font-size   : x-small;
}

.gray {
    background-color : lightgray
}


#revise {
    position : fixed;
    top      : 3%;
    left     : 28%;
    opacity  : .4;
}

.text-italic {
    font-style : italic;
}

.text-right{
    text-align: right;
}

.font-size{
    font-size: 12px;
}

.font-size-2{
    font-size: 10px;
}


.font-size-3{
    font-size: 8px;
}

.font-size-4{
    font-size: 10px;
}

.text-center {
    text-align: center;
}
.p-5 {
    padding : 10px 5px;
}
.page_break { page-break-before: always; }