// ------------------------------------------------
//  General
// ------------------------------------------------
textarea {
  min-width  : 100%;
  max-width  : 100%;
  min-height : 50px;
}

.hidden_div {
  display : none;
}

.bg-main {
  background-color : $main_color;
}

.bg-main-gradient {
  background : rgb(7, 54, 160);
  background : linear-gradient(90deg, rgba(7, 54, 160, 0.9066001400560224) 0%, rgba(9, 73, 217, 1) 35%, rgba(7, 54, 160, 0.9122023809523809) 100%);
}

.text-main {
  color : $main_color;
}

.btn-forgot {
  border-top  : 1px solid #ececec;
  margin-top  : 15px;
  text-align  : center;
  padding-top : 6px;
  &:hover {
    a {
      color : $main_color_dark;
    }
  }
}

.btn-main {
  background-color : $main_color;
  color            : #fff;
  &:hover,&:focus {
    background-color : $main_color_dark;
    color            : #fff;
  }
}

.btn-outline-main {
  background-color : #fff;
  border           : 1px solid $main_color;
  color            : $main_color;
  &:hover,&:focus {
    background-color : $main_color;
    color            : #fff;
  }
}

.btn-outline-danger {
  background-color : #fff;
  border           : 1px solid $danger_color;
  color            : $danger_color;
  &:hover,&:focus {
    background-color : $danger_color;
    color            : #fff;
  }
}

h3.page-title {
  margin-top     : 0;
  letter-spacing : -2px;
}

.list-title {
  margin         : 5px 0 15px 0;
  font-size      : 20px;
  letter-spacing : -1px;
  &:after {
    display    : block;
    width      : 40px;
    margin-top : 4px;
    border     : 1px solid $main_color;
    content    : '';
  }
}

.header-main {
  background-color : $main_color;
  color            : white;
  .close {
    color : white;
  }
}

.lang-icon {
  width        : 20px;
  height       : 20px;
  margin-left  : 5px;
  margin-right : 28px;
}

.invalid-feedback {
  color : $danger_color
}

.bread-main {
  margin-bottom    : 0;
  background-color : transparent;
  a {
    color : $main_color;
  }
}

.heading-actions {
  padding-bottom   : 10px;
  //background-color : #eef1f9 !important;
  text-align       : right;
}

.current{
  background-color: rgba(0,0,0,.05);
}
// ------------------------------------------------
//  Dashboard
// ------------------------------------------------
.stats-overview {
  display : inline-flex;
}

.stats-overview span {
  display : block;
}

// ------------------------------------------------
//  Margins
// ------------------------------------------------
.btn-mt-25 {
  margin-top : 25px;
}

// ------------------------------------------------
//  Forms
// ------------------------------------------------
.box-card {
  position              : relative;
  display               : block;
  padding               : 25px 20px 10px;
  margin-top            : 10px;
  margin-bottom         : 30px;
  border                : 1px solid $main_color;
  -webkit-border-radius : 4px;
  -moz-border-radius    : 4px;
  border-radius         : 4px;
  h2 {
    position       : absolute;
    top            : -31px;
    padding        : 0 10px 0;
    font-size      : 18px !important;
    letter-spacing : -1px !important;
    color          : $main_color;
    background     : #fff;
  }
}

.config-title {
  font-size      : 18px !important;
  letter-spacing : -1px !important;
  color          : $main_color;
  background     : #fff;
  margin         : 5px 0 15px;
}

.cnav-tabs a {
  border : none !important;

}

.cnav-tabs > li.active > a {
  border-bottom : 2px solid $main_color !important;
}

// ------------------------------------------------
//  Sortable
// ------------------------------------------------
.sortable-image {
  list-style-type : none;
  margin-top      : 15px;
  padding         : 0;
  width           : 99%;
  li {
    margin     : 3px;
    padding    : 1px;
    float      : left;
    font-size  : 10px;
    text-align : center;
    overflow   : hidden;
  }
}


.sortable-video {
  list-style-type : none;
  margin-top      : 15px;
  padding         : 0;
  width           : 99%;
  li {
    margin     : 3px;
    padding    : 1px;
    float      : left;
    font-size  : 10px;
    text-align : center;
    overflow   : hidden;
  }
}


.white-rounded {
  float         : left;
  position      : relative !important;
  border        : 2px solid #fff;
  text-align    : left;
  border-radius : 50%;
  color         : #fff;
  padding       : 7px;
  margin        : 0 5px;
  &:hover {
    color : #fff;
  }
}

// ------------------------------------------------
//  Categories
// ------------------------------------------------
.line-right1 {
  border-right : 1px solid #ebebeb;
}

.line-right2 {
  border-right : 1px solid #ebebeb;
}

#Cat_levels {
  border   : 1px solid #ebebeb;
  height   : 400px;
  overflow : hidden;
  padding  : 20px 20px 20px 0;
}

.area-main {
  height   : 290px;
  position : absolute;
}

.area-scroll {
  margin-left : 260px;
  max-width   : 100%;
  overflow-x  : scroll;
  overflow-y  : hidden;
}

.area_category {
  display      : table-cell;
  height       : 310px;
  margin-left  : 20px;
  min-width    : 260px;
  padding-left : 20px;
  position     : relative;
  .head {
    margin-bottom : 20px;
    .title {
      color       : #758b97;
      font-weight : 700;
      .line {
        background : #758b97;
        display    : block;
        height     : 1px;
        width      : 20px;
      }
    }
    .subtitle {
      color       : #758b97;
      font-size   : 12px;
      font-weight : 700;
      .line {
        background : #758b97;
        display    : block;
        height     : 1px;
        width      : 20px;
      }
    }
    .btn-add {
      padding-right : 20px;
      a {
        color     : #000;
        font-size : 12px;
        &:after {
          color          : $main_color;
          content        : "\f0fe";
          display        : inline-block;
          font-family    : 'FontAwesome', sans-serif;
          font-size      : 12px;
          vertical-align : middle;
        }
      }
    }
  }
  .empty-alert {
    bottom   : 18px;
    left     : 0px;
    position : absolute;
    right    : 18px;
    top      : 18px;
    .info {
      color      : #999;
      font-size  : 12px;
      left       : 50%;
      position   : absolute;
      text-align : center;
      top        : 50%;
      transform  : translate(-50%, -50%);
      width      : 100%;
      .area {
        line-height : 16px;
        margin      : auto;
        max-width   : 180px;
        strong {
          color       : #000;
          display     : block;
          font-weight : 700;
        }
      }
      .btn-add-cat {
        border     : 1px solid $main_color;
        color      : $main_color;
        display    : inline-block;
        margin-top : 9px;
        padding    : 5px 12px 7px;
      }
    }
  }
  ul {
    background : #fff;
    display    : block;
    height     : 312px;
    margin     : 0;
    overflow   : hidden;
    overflow-y : scroll;
    padding    : 0 20px 0 0;
    li {
      list-style : none;
      position   : relative;
      &:hover {
        .options {
          opacity : 1;
        }
      }
      &.current {
        .mask {
          &::after {
            color : #cfcfcf;
            right : 0;
          }
          a {
            color       : #000;
            font-weight : 700;
          }
        }
      }
      .options {
        opacity  : 0;
        position : absolute;
        top      : 7px;
        right    : 18px;
        z-index  : 1;
        button {
          display : inline-block;
          padding : 0 5px;
          i {
            font-size : 14px;
          }
        }
        &:hover {
          opacity : 1;
        }
      }

      .mask {
        border-bottom : 1px solid #ebebeb;
        display       : block;
        overflow      : hidden;
        position      : relative;
        width         : 100%;

        &::after {
          color       : #fff;
          content     : "\f054";
          font-family : 'FontAwesome';
          font-size   : 10px;
          position    : absolute;
          right       : 10px;
          top         : 12px;
        }
        &:hover {
          &::after {
            color : #cfcfcf;
            right : 0;
          }
        }
        a {
          color           : #6f6f6f;
          display         : block;
          font-size       : 13px;
          letter-spacing  : 0.5px;
          line-height     : 38px;
          text-decoration : none;
          &:hover {
            color : $main_color;
          }
          &:active {
            color : $main_color;
          }
        }
      }
      &:last-child {
        .mask {
          border-bottom : 0;
        }
      }
    }
  }
}

@media screen and (max-width : 640px) {
  .line-right1 {
    border-right : 1px solid #fff;
  }
  .line-right2 {
    border-right : 1px solid #fff;
  }
  #Cat_levels {
    border   : 1px solid #ebebeb;
    height   : auto;
    overflow : hidden;
    padding  : 20px 0 20px 0;
  }
  .area-main {
    height        : 290px;
    position      : relative;
    overflow      : hidden;
    margin-bottom : 20px;
  }
  .area-scroll {
    border-top  : 1px solid #ebebeb;
    padding-top : 20px;
    margin-left : 0;
    max-width   : 100%;
    overflow-x  : scroll;
    overflow-y  : hidden;
  }
}


/*!
 * Datepicker for Bootstrap v1.7.1 (https://github.com/uxsolutions/bootstrap-datepicker)
 *
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

 .datepicker{padding:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;direction:ltr}.datepicker-inline{width:220px}.datepicker-rtl{direction:rtl}.datepicker-rtl.dropdown-menu{left:auto}.datepicker-rtl table tr td span{float:right}.datepicker-dropdown{top:0;left:0}.datepicker-dropdown:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #999;border-top:0;border-bottom-color:rgba(0,0,0,.2);position:absolute}.datepicker-dropdown:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;border-top:0;position:absolute}.datepicker-dropdown.datepicker-orient-left:before{left:6px}.datepicker-dropdown.datepicker-orient-left:after{left:7px}.datepicker-dropdown.datepicker-orient-right:before{right:6px}.datepicker-dropdown.datepicker-orient-right:after{right:7px}.datepicker-dropdown.datepicker-orient-bottom:before{top:-7px}.datepicker-dropdown.datepicker-orient-bottom:after{top:-6px}.datepicker-dropdown.datepicker-orient-top:before{bottom:-7px;border-bottom:0;border-top:7px solid #999}.datepicker-dropdown.datepicker-orient-top:after{bottom:-6px;border-bottom:0;border-top:6px solid #fff}.datepicker table{margin:0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:none}.table-striped .datepicker table tr td,.table-striped .datepicker table tr th{background-color:transparent}.datepicker table tr td.day.focused,.datepicker table tr td.day:hover{background:#eee;cursor:pointer}.datepicker table tr td.new,.datepicker table tr td.old{color:#999}.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover{background:0 0;color:#999;cursor:default}.datepicker table tr td.highlighted{background:#d9edf7;border-radius:0}.datepicker table tr td.today,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today:hover{background-color:#fde19a;background-image:-moz-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:-ms-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fdd49a),to(#fdf59a));background-image:-webkit-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:-o-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:linear-gradient(to bottom,#fdd49a,#fdf59a);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);border-color:#fdf59a #fdf59a #fbed50;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#000}.datepicker table tr td.today.active,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled.disabled,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today.disabled:hover.active,.datepicker table tr td.today.disabled:hover.disabled,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today.disabled:hover:hover,.datepicker table tr td.today.disabled:hover[disabled],.datepicker table tr td.today.disabled[disabled],.datepicker table tr td.today:active,.datepicker table tr td.today:hover,.datepicker table tr td.today:hover.active,.datepicker table tr td.today:hover.disabled,.datepicker table tr td.today:hover:active,.datepicker table tr td.today:hover:hover,.datepicker table tr td.today:hover[disabled],.datepicker table tr td.today[disabled]{background-color:#fdf59a}.datepicker table tr td.today.active,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover.active,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today:active,.datepicker table tr td.today:hover.active,.datepicker table tr td.today:hover:active{background-color:#fbf069\9}.datepicker table tr td.today:hover:hover{color:#000}.datepicker table tr td.today.active:hover{color:#fff}.datepicker table tr td.range,.datepicker table tr td.range.disabled,.datepicker table tr td.range.disabled:hover,.datepicker table tr td.range:hover{background:#eee;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.datepicker table tr td.range.today,.datepicker table tr td.range.today.disabled,.datepicker table tr td.range.today.disabled:hover,.datepicker table tr td.range.today:hover{background-color:#f3d17a;background-image:-moz-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:-ms-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f3c17a),to(#f3e97a));background-image:-webkit-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:-o-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:linear-gradient(to bottom,#f3c17a,#f3e97a);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);border-color:#f3e97a #f3e97a #edde34;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.datepicker table tr td.range.today.active,.datepicker table tr td.range.today.disabled,.datepicker table tr td.range.today.disabled.active,.datepicker table tr td.range.today.disabled.disabled,.datepicker table tr td.range.today.disabled:active,.datepicker table tr td.range.today.disabled:hover,.datepicker table tr td.range.today.disabled:hover.active,.datepicker table tr td.range.today.disabled:hover.disabled,.datepicker table tr td.range.today.disabled:hover:active,.datepicker table tr td.range.today.disabled:hover:hover,.datepicker table tr td.range.today.disabled:hover[disabled],.datepicker table tr td.range.today.disabled[disabled],.datepicker table tr td.range.today:active,.datepicker table tr td.range.today:hover,.datepicker table tr td.range.today:hover.active,.datepicker table tr td.range.today:hover.disabled,.datepicker table tr td.range.today:hover:active,.datepicker table tr td.range.today:hover:hover,.datepicker table tr td.range.today:hover[disabled],.datepicker table tr td.range.today[disabled]{background-color:#f3e97a}.datepicker table tr td.range.today.active,.datepicker table tr td.range.today.disabled.active,.datepicker table tr td.range.today.disabled:active,.datepicker table tr td.range.today.disabled:hover.active,.datepicker table tr td.range.today.disabled:hover:active,.datepicker table tr td.range.today:active,.datepicker table tr td.range.today:hover.active,.datepicker table tr td.range.today:hover:active{background-color:#efe24b\9}.datepicker table tr td.selected,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected:hover{background-color:#9e9e9e;background-image:-moz-linear-gradient(to bottom,#b3b3b3,grey);background-image:-ms-linear-gradient(to bottom,#b3b3b3,grey);background-image:-webkit-gradient(linear,0 0,0 100%,from(#b3b3b3),to(grey));background-image:-webkit-linear-gradient(to bottom,#b3b3b3,grey);background-image:-o-linear-gradient(to bottom,#b3b3b3,grey);background-image:linear-gradient(to bottom,#b3b3b3,grey);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);border-color:grey grey #595959;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td.selected.active,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled.active,.datepicker table tr td.selected.disabled.disabled,.datepicker table tr td.selected.disabled:active,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected.disabled:hover.active,.datepicker table tr td.selected.disabled:hover.disabled,.datepicker table tr td.selected.disabled:hover:active,.datepicker table tr td.selected.disabled:hover:hover,.datepicker table tr td.selected.disabled:hover[disabled],.datepicker table tr td.selected.disabled[disabled],.datepicker table tr td.selected:active,.datepicker table tr td.selected:hover,.datepicker table tr td.selected:hover.active,.datepicker table tr td.selected:hover.disabled,.datepicker table tr td.selected:hover:active,.datepicker table tr td.selected:hover:hover,.datepicker table tr td.selected:hover[disabled],.datepicker table tr td.selected[disabled]{background-color:grey}.datepicker table tr td.selected.active,.datepicker table tr td.selected.disabled.active,.datepicker table tr td.selected.disabled:active,.datepicker table tr td.selected.disabled:hover.active,.datepicker table tr td.selected.disabled:hover:active,.datepicker table tr td.selected:active,.datepicker table tr td.selected:hover.active,.datepicker table tr td.selected:hover:active{background-color:#666\9}.datepicker table tr td.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active:hover{background-color:#006dcc;background-image:-moz-linear-gradient(to bottom,#08c,#04c);background-image:-ms-linear-gradient(to bottom,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(to bottom,#08c,#04c);background-image:-o-linear-gradient(to bottom,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td.active.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled.active,.datepicker table tr td.active.disabled.disabled,.datepicker table tr td.active.disabled:active,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active.disabled:hover.active,.datepicker table tr td.active.disabled:hover.disabled,.datepicker table tr td.active.disabled:hover:active,.datepicker table tr td.active.disabled:hover:hover,.datepicker table tr td.active.disabled:hover[disabled],.datepicker table tr td.active.disabled[disabled],.datepicker table tr td.active:active,.datepicker table tr td.active:hover,.datepicker table tr td.active:hover.active,.datepicker table tr td.active:hover.disabled,.datepicker table tr td.active:hover:active,.datepicker table tr td.active:hover:hover,.datepicker table tr td.active:hover[disabled],.datepicker table tr td.active[disabled]{background-color:#04c}.datepicker table tr td.active.active,.datepicker table tr td.active.disabled.active,.datepicker table tr td.active.disabled:active,.datepicker table tr td.active.disabled:hover.active,.datepicker table tr td.active.disabled:hover:active,.datepicker table tr td.active:active,.datepicker table tr td.active:hover.active,.datepicker table tr td.active:hover:active{background-color:#039\9}.datepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.datepicker table tr td span.focused,.datepicker table tr td span:hover{background:#eee}.datepicker table tr td span.disabled,.datepicker table tr td span.disabled:hover{background:0 0;color:#999;cursor:default}.datepicker table tr td span.active,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active.disabled:hover,.datepicker table tr td span.active:hover{background-color:#006dcc;background-image:-moz-linear-gradient(to bottom,#08c,#04c);background-image:-ms-linear-gradient(to bottom,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(to bottom,#08c,#04c);background-image:-o-linear-gradient(to bottom,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td span.active.active,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active.disabled.active,.datepicker table tr td span.active.disabled.disabled,.datepicker table tr td span.active.disabled:active,.datepicker table tr td span.active.disabled:hover,.datepicker table tr td span.active.disabled:hover.active,.datepicker table tr td span.active.disabled:hover.disabled,.datepicker table tr td span.active.disabled:hover:active,.datepicker table tr td span.active.disabled:hover:hover,.datepicker table tr td span.active.disabled:hover[disabled],.datepicker table tr td span.active.disabled[disabled],.datepicker table tr td span.active:active,.datepicker table tr td span.active:hover,.datepicker table tr td span.active:hover.active,.datepicker table tr td span.active:hover.disabled,.datepicker table tr td span.active:hover:active,.datepicker table tr td span.active:hover:hover,.datepicker table tr td span.active:hover[disabled],.datepicker table tr td span.active[disabled]{background-color:#04c}.datepicker table tr td span.active.active,.datepicker table tr td span.active.disabled.active,.datepicker table tr td span.active.disabled:active,.datepicker table tr td span.active.disabled:hover.active,.datepicker table tr td span.active.disabled:hover:active,.datepicker table tr td span.active:active,.datepicker table tr td span.active:hover.active,.datepicker table tr td span.active:hover:active{background-color:#039\9}.datepicker table tr td span.new,.datepicker table tr td span.old{color:#999}.datepicker .datepicker-switch{width:145px}.datepicker .datepicker-switch,.datepicker .next,.datepicker .prev,.datepicker tfoot tr th{cursor:pointer}.datepicker .datepicker-switch:hover,.datepicker .next:hover,.datepicker .prev:hover,.datepicker tfoot tr th:hover{background:#eee}.datepicker .next.disabled,.datepicker .prev.disabled{visibility:hidden}.datepicker .cw{font-size:10px;width:12px;padding:0 2px 0 5px;vertical-align:middle}.input-append.date .add-on,.input-prepend.date .add-on{cursor:pointer}.input-append.date .add-on i,.input-prepend.date .add-on i{margin-top:3px}.input-daterange input{text-align:center}.input-daterange input:first-child{-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}.input-daterange input:last-child{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}.input-daterange .add-on{display:inline-block;width:auto;min-width:16px;height:18px;padding:4px 5px;font-weight:400;line-height:18px;text-align:center;text-shadow:0 1px 0 #fff;vertical-align:middle;background-color:#eee;border:1px solid #ccc;margin-left:-5px;margin-right:-5px}